ul {
    list-style-type: none;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

li{
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: black;
}

a:link {
    color:black;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    color:forestgreen;
}

a:active {
    color: white;
}

h1 {
    clear:both;
    font-family: sans-serif;
    margin-top: 100px;
}
h2{
    font-family: sans-serif;
    font-weight: 100;
    margin-top: -20px;
}

table {
    font-family: Helvetica, sans-serif;
    text-align: left;
}
#italic {
    font-style: italic;
    font-weight: 100;
    margin-top: -20px;
}

table td {
    padding:5px 20px;
    border-left: 2px solid #D3D3D3;
    border-right: 2px solid #D3D3D3;
}

tr:nth-child(2n) {
    background-color: antiquewhite;
}
th {
    padding: 0 20px;
}
th:nth-child(5n+1) {
    border-left: 2px solid #D3D3D3;
}
table {
    border-collapse: collapse;
    border-bottom: 2px solid #D3D3D3;
    
}
img {
    vertical-align: bottom;
}
tr {
    vertical-align: bottom;
}