/*nav links*/
ul {
    list-style-type: none;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

li{
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    color:white;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    color:forestgreen;
}

a:active {
    color:aqua;
}
/*end nav links*/

/*index.html*/
h1 {
    clear:both;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 100px;
    font-weight: 600;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    margin-top: -20px;
}
/*start table*/
table {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}
#italic {
    font-style: italic;
    font-weight: 100;
    margin-top: -20px;
}
table td {
    padding:5px 20px;
    border-left: 2px solid #D3D3D3;
    border-right: 2px solid #D3D3D3;
}
tr:nth-child(2n) {
    background-color: antiquewhite;
}
th {
    padding: 0 20px;
}
table {
    border-collapse: collapse;
    border-bottom: 2px solid #D3D3D3;  
}
img {
    vertical-align: bottom;
    margin-bottom: 2px;
}
tr {
    vertical-align: bottom;
}
tr:nth-child(2) {
    border-top:2px solid #D3D3D3;
}
.images {
    border-left:0px solid #D3D3D3;
    border-right:0px solid #D3D3D3;
}
table th {
    border-left:2px solid #D3D3D3;
}
/*end table*/
/*end index.html*/

/*start contact form*/
p {
    font-family: 'Source Sans Pro', sans-serif;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
    background-color:lightgray;
    width:100%;
    padding:5px 30px;
    margin-top: 30px;
    margin-left: -20px;
}
input[type=text] {
    padding: 10px;
    margin: 0 10px ;
    box-sizing: border-box;
}
input[type=date] {
    padding: 10px;
    margin: 0 10px ;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
input[type=text]:focus {
    background-color: lightsteelblue;
}

.cardimages {
    width: 80px;
    vertical-align: middle; 
    margin-top: 10px;
}
input[type=submit] {
    background-color:cornflowerblue;
    border: none;
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
}


/*end contact form*/